.screen {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url('http://ontariostreet.com/wp-content/uploads/2017/03/00_032_web.jpg');
  @media only screen and (max-width: 40em) {
    background-image: url('http://ontariostreet.com/wp-content/uploads/2017/03/00_032_web_peq.jpg');
  }
}


.title-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-content: flex-end;
  height: 20vh;
  padding-left: 300px;
  @media only screen and (max-width: 30em) {
    padding-left: 40px;
    height: 20vh;
  }
  @media only screen and (min-width: 30.063em) and (max-width: 64em) {
    padding-left: 200px;
  }
}

.crimson-title {
  font-size: 20px;
  font-family: $crimson;
  font-weight: 700;
  margin-bottom: 20px;
  color: black;
  @media only screen and (max-width: 30em) {
    font-size: 14px;
  }
  @media only screen and (min-width: 30.063em) and (max-width: 64em) {
    font-size: 16px;
  }
}
a.link-ssn-30,
.link-ssn-30 {
  color: black;
}

.link-ssn-30:hover {
  color: $link;
}


// Menu

.front-menu-wrap ul {
  margin: 0;
  padding: 0;
}

#gua-hamburger {
  position: fixed;
  right: 30px;
  top: 45px;
  color: #C9C7C7;
  background-color: #353535;
  border-radius: 20px;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  z-index: 100;
}
#gua-hamburger:hover {
  background-color:#C9C7C7;
  color: black;
}

.gua-men {
  position: fixed;
  height: 25px;
  width: 100px;
  line-height: 25px;
  text-align: center;
  background-color: #353535;
  color: #C9C7C7;
  font-family: $Carrois;
  font-size: 14px;
}
.gua-men:hover {
  background-color:#C9C7C7;
  color: black;
}

#gua-menu5 {
  display: none;
  top: 255px;
  right: 25px;
  z-index: 100;
}
#gua-menu4 {
  display: none;
  top: 215px;
  right: 25px;
  z-index: 100;
}
#gua-menu3 {
  display: none;
  top: 175px;
  right: 25px;
  z-index: 100;
}
#gua-menu2 {
  display: none;
  top: 135px;
  right: 25px;
  z-index: 100;
}
#gua-menu1 {
  display: none;
  top: 95px;
  right: 25px;
  z-index: 100;
}

#gua-menu {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 1000px;
  opacity: 0.6;
  background-color:black;
  z-index: 50;
}
li {
  list-style:none;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

 // Player

iframe {
  padding: 0;
  margin: 0;
  background-color: #C9C7C7;
}

.player-28 {
  position: fixed;
  bottom: -70px;
  width: 100%;
}
.player-play {
  width: 100%;
  text-align: center;
  position: relative;
  bottom: 0;
  font-size: 52px;
  color: black;
  @media only screen and (max-width: 30em) {
    font-size: 32px;
  }
  @media only screen and (min-width: 30.063em) and (max-width: 64em) {
    font-size: 42px;
  }
}

.player-play:hover {
  color: $link-hover !important;
}
.play-text {
  width: 100%;
  text-align: center;
  position: relative;
  bottom: 5px;
  font-size: 32px;
  color: white;
}

.play-text:hover {
  color: $link-hover;
}
