// Fonts

@import url("http://fonts.googleapis.com/css?family=Carrois+Gothic+SC:400");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/css?family=Crimson+Text");
@include font-face('colaborate-thin', 'ColabLig-webfont');
@include font-face('colaborate-reg', 'ColabReg-webfont');
@include font-face('colaborate-med', 'ColabMed-webfont');
@include font-face('clear-thin', 'ClearSans-Light-webfont');

html,
body,
#page {
  width: 100%;
  height: 100%;
  color: $base;
}

html {
  font-family: $colaborate-thin;
  font-size: 1.1rem;
  color: $base;
}

body {
  font-family: $colaborate-thin;
  font-size: 100%;
  color: $base;
}

h1,h2,h3,h4,h5,h6 {
  font-family: $CarroisSC;
  font-weight: 300;
}

p {
  font-family: $colaborate-thin;
  font-size: 1.1rem;
  @media only screen and (max-width: 40em) {
    font-size: 0.85rem;
  }
  @media only screen and (min-width: 40.063em) and (max-width: 64em) {
    font-size: 1rem;
  }
  color: $base;
}

a {
  color: $link;
}
a:hover {
  color:  $link-hover;
}

h1 {
  font-size: 1.4rem;
  @media only screen and (max-width: 40em) {
    font-size: 1.2rem;
  }
  @media only screen and (min-width: 40.063em) and (max-width: 64em) {
    font-size: 1.3rem;
  }
}
h2 {
  font-size: 1.3rem;
  @media only screen and (max-width: 40em) {
    font-size: 1.1rem;
  }
  @media only screen and (min-width: 40.063em) and (max-width: 64em) {
    font-size: 1.2rem;
  }
}

h3, h4 {
  font-size: 1.2rem;
  @media only screen and (max-width: 40em) {
    font-size: 1rem;
  }
  @media only screen and (min-width: 40.063em) and (max-width: 64em) {
    font-size: 1.1rem;
  }
}

h5, h6 {
  font-size: 1.1rem;
  @media only screen and (max-width: 40em) {
    font-size: 0.9rem;
  }
  @media only screen and (min-width: 40.063em) and (max-width: 64em) {
    font-size: 1rem;
  }
}

#content, .site-content {
  width: 100%;
  height: 100%;
}
#main {
  padding-bottom: 30px;
}

#primary {
  min-height: 500px;
}
li {
  list-style-type:none;
}
.screen-reader-text {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}

.site-main {
  z-index: 10;
  background: white;
}

.row {
  width: 100%;
  max-width: none;
}

.error-404 {
  width: 60%;
  margin: 0 auto;
  text-align: center;
}


.crystal {
  width: 100%;
  height: 80%;
  z-index: 10;
  overflow: auto;
}
article {
  height: inherit;
}

.front-sessions {
  width: 90%;
  height: auto;
  overflow: auto;
  margin: 0 auto;
  padding-top: 40px;
}


.session-image-front {
  padding-bottom: 30px;
  overflow:hidden;
}
.entry-meta-session {
  padding-bottom: 40px;
  font-family: $CarroisSC;
  font-size: 12px;
}
.entry-meta-session ul li {
  font-size: 12px;
}
.entry-meta-session i {
  font-size: 16px;
  padding-right: 5px;
  vertical-align: middle;
}
.onted-tag {
  font-size: 12px;
  font-family: $CarroisSC;
}

.session-image-back {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 300px;
}

.img-wrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.img-wrapped {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.entry-image-meta {
  display: block;
  overflow: auto;

}
.post-navigation {
  padding-top: 50px;
  padding-bottom: 25px;
}
.blog-title {
  text-align:center;
  padding-bottom: 25px;


}
.blog-title h1 {
  text-align: center;
  font-family: $CarroisSC;
  font-size: 1.6rem;
  @media only screen and (max-width: 40em) {
    font-size: 1.2rem;
  }
  @media only screen and (min-width: 40.063em) and (max-width: 64em) {
    font-size: 1.4rem;
  }
  font-weight: 700;
}
.blog-title a,
.blog-title a:visited {
  color: #333;
}
.blog-title a:hover {
  color: #333;
}

.front-records {
  width: auto;
  overflow: auto;
  width: 90%;
  margin: 0 auto;
  border-top: 1px solid black;
  padding-top: 30px;
}

li .post-meta-key {
  display: none;;
}
// Helpers

.pad-top {
  padding-top: 50px;
}
.pad-bottom {
  padding-bottom: 20px;
}
.marg-bottom {
  margin-bottom:20px;
}

.zoom {
  overflow:hidden;
}
.zoom img:hover {
  -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
}

.black-bkg {
  background: black;
}
.video-entry-text {
  margin: 0 auto;
  width: 70%;
  text-align: center;
  color: #AAB0A8;
  padding-top: 30px;
  padding-bottom: 10px;
}

.tunes-pad {
  margin-bottom: 5px;
}

// Element row

.front-row {
  width: 90%;
  margin: 0 auto;
  overflow: auto;
  height: auto;
  padding-top: 30px;
  padding-bottom: 40px;
  border-bottom: solid black 1px;
}
.last-row {
  border-bottom: 0 !important;
}

.front-video {
  width: 90%;
  background: black;
  margin: 0 auto;
  overflow: auto;
  height: auto;
  padding-bottom: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.tag-icon {
  font-size: 14px;
  color: black;
}

// Pages single

.entry-header {
  background: black;
  margin-bottom: 20px;
}

.entry-title {
  text-align: right;
  padding-right: 10%;
  color: white;
  margin-bottom: 0 !important;
  padding-top: 20px;
}

.entry-title::before {
  content: "_";
  color: white;
}
.entry-text {
  min-height: 200px;
}
.entry-page-content {
  overflow: auto;
  width: 96%;
  margin: 0 auto;
  padding-bottom: 60px;
}
.entry-image {
  height: auto;
  padding-bottom: 25px;
  overflow: auto;
}
.entry-image img {
  max-width: none;
  width: 100%;
}
#contact-form-submit {
  background: black;
}
.map-image {
  height: auto;
  overflow: auto;
  max-width: 100%;
  width: 100%;
  border: solid black 6px;
}
.single-content {
  height: inherit;
}
.search-none{
  width: 90%;
  min-height: 500px;
  margin: 0 auto;
  padding-top: 60px;
}
.article-header {
  background: black;
}

.entry-summary {
  padding: 25px;
}
.article-thumb {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 350px;
}
.posting {
  background-color: black;
  padding-top: 25px;
  width: 90%;
  margin: 0 auto;
}
.article-box {
  background: white;
  margin-bottom: 20px;
}
.entry-meta,
.entry-footer {
  line-height: 0.8;
  margin-bottom: 0;
  color: black;
  background: white;
  padding-left:20px;
  font-size: 13px;
  padding-top: 10px;
}
.entry-footer span {
  display: block;
  padding: 5px;
}

.vcard {
  border: none;
  font-family: $CarroisSC;
  margin: 0;
  padding: 0;
}
.edit-link {
  padding-left: 20px;
  font-size: 14px;
  font-family: $CarroisSC;
}
.comments-link {
  padding-left: 20px;
  font-size: 14px;
  font-family: $CarroisSC;
}
.front-records {

}
.record-title {
    font-size: 18px;
    text-align: center;
    color: black;
    margin-bottom: 0 !important;
    padding-top: 20px;
}


// Standard Post single
.post-image {
  height: auto;
  display: block;
  border: 0;
  padding: 0;
}
.post-image img {
    width: 100% !important;
}
.standard-post-content {
  width: 80%;
  margin: 0 auto;
  padding-top:30px;
  float: none !important;
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.blog-header-wrapper {
  position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.blog-header-wrapper header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow:hidden;
}
.blog-text-wrapper {
  position: relative;
	padding-bottom: 52.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}

#masonry-container {
  width:95%;
  margin: 0 auto;
  height: inherit;
}

#secondary {
  padding: 20px;
  border-left: solid #DDDDDD 1px;
}
//Post comments-link

.onted-comments {
  width: 90%;
  margin: 0 auto;
  font-size: 0.9rem;
  border-top: solid 1px black;
  padding-top: 25px;
}
#submit,
.wpcf7-submit  {
  background: black;
  border: none;
  color: white;
  padding: 1rem 2rem 1.0625rem;
  font-size: 1rem;
  text-decoration: none;
  text-align: center;
}
#submit:hover,
.wpcf7-submit:hover {
  background: white;
  color: black;
  border: solid black 1px;
}
.nav-links {
  padding-bottom: 20px;
}

span.comments-link {
  display: none;
}
//Sessions

.sessions-gallery {
  padding-top: 60px;
  min-height: 700px;
}

.session-item {
  padding-bottom: 25px;
}


/* =WordPress Core
-------------------------------------------------------------- */
.alignnone {
    margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%; /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}

.wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
}

/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}


/* Crisopa-portada.  */


/*
.yellow-frame {
  height: 100%;
  width: 50%;
  @media only screen and (max-width: 40em) {
    width: 25%;
  }
  float: right;
  background-color: rgba(64,76,0,0.4);
}

.first-content-wrapper {
  padding-right: 50px;
  padding-top: 45%;
  @media only screen and (max-width: 30em) {
    margin-top:50px;
    padding-top: 45%;
    padding-right: 10px;
  }
  @media only screen and (min-width: 30.063em) and (max-width: 64em) {
    margin-top:100px;
    padding-top: 40%;
    padding-right: 20px;
  }
}


.crisopa-title {
  font-size: 90px;
  @media only screen and (max-width: 30em) {
    font-size: 40px;
  }
  @media only screen and (min-width: 30.063em) and (max-width: 64em) {
    font-size: 60px;
  }
  font-weight: 900;
  font-family: $CarroisSC;
  text-align:right;
  color:  rgba(64,76,0,1);
  line-height: 92%;
}
.crisopa-text {
  font-size: 18px;
  @media only screen and (max-width: 30em) {
    font-size: 14px;
  }
  font-weight: 600;
  font-family: $CarroisSC;
  text-align:right;
  color:  rgba(64,76,0,1);
}
.crisopa-date {
  font-size: 32px;
  @media only screen and (max-width: 30em) {
    font-size: 24px;
  }
  font-weight: 600;
  font-family: $CarroisSC;
  text-align:right;
  color:  rgba(64,76,0,1);
}


28-portada.

.titulo-28 {
  position: fixed;
  top:50px;
  right: 70px;
  font-size:2em;
  color: #797979;
  @media only screen and (max-width: 30em) {
    position: fixed;
    top: 0;
    left: 20px;
    font-size: 1.4em;
  }
}
.titulo-28 a {
  color: #797979;
}
.titulo-28 a:hover {
  color: $link-hover;
}
.session-28 {
  position: fixed;
  bottom: 140px;
  right: 70px;
  font-size: 1.5em;
  color: #797979;
  @media only screen and (max-width: 30em) {
    right: 20px;
    font-size:1em;
  }
}
.session-28 a {
  color: #797979;
}
.session-28 a:hover {
  color: $link-hover;
}
.menu-28{
  position: fixed;
  right: 70px;
  bottom: 70px;
  color: #797979;
  @media only screen and (max-width: 30em) {
    display: none;
  }
}

.menu-28 ul {
  display: table;


}
.menu-28 ul li {
  display: inline-block;
  float: left;
  padding: 0 10px;
  color: #797979;
}

.li-menu-28 {
  color: #797979;
}
.li-menu-28:hover {
  color: $link-hover;
}
.after-28::after {
  content: "|";
  padding-left: 20px;
  @media only screen and (max-width: 30em) {
    content: "";
  }
}

.top-bar-28 {
  display: none;
  color: #797979 !important;
  @media only screen and (max-width: 30em) {
    display: block;
  }
}

.menu-mobile-28 {
  color: #797979 !important;
}


.grey-color {
  color: #797979 !important;
}


.player-28 {
  position: fixed;
  bottom: -70px;
  width: 100%;
}
.player-play {
  width: 100%;
  text-align: center;
  position: relative;
  bottom: 0px;
  font-size: 32px;
}

.player-play:hover {
  color: $link-hover !important;
}
.play-text {
  width: 100%;
  text-align: center;
  position: relative;
  bottom: 5px;
  color: #797979;
  font-size: 32px;
}

.play-text:hover {
  color: $link-hover;
}
*/
