

.hero {
  margin:0;
  padding: 0;
  width: 100%;
  height:100%;
  box-sizing: border-box;
  background-size: cover;
  background-position: center;
  @media only screen and (max-width: 30em) {
    background-position: 70%;
  }
  @media only screen and (min-width: 30.003em) and (max-width: 64em) {
    background-position: 60%;
  }
}

.front-title {
  position: fixed;
  top: 150px;
  left: 70px;
  font-size: 60px;
  font-weight: 700;
  color: white;
  @media only screen and (max-width: 30em) {
    top: 70px;
    left: 30px;
    font-size: 26px;
  }
  @media only screen and (min-width: 30.003em) and (max-width: 64em) {
    top: 100px;
    left: 40px;
    font-size: 40px;
  }
}

.front-sub-title {
  position: fixed;
  top: 220px;
  left: 73px;
  font-size: 28px;
  color: white;
  @media only screen and (max-width: 30em) {
    top: 105px;
    left: 33px;
    font-size: 16px;
  }
  @media only screen and (min-width: 30.003em) and (max-width: 64em) {
    top: 155px;
    left: 43px;
    font-size: 18px;
  }
}
.front-sub-title:hover {
  color: $link-hover;
}
