/*
 * @font-face mixin
 * @include font-face('family', '../fonts/', 'myfontname');
 */

@mixin font-face($font-family, $font-name) {
  $font-url : "../fonts";
    @font-face {
        font: {
            family: $font-family;
            style: normal;
            weight: normal;
        }
        src: url($font-url + '/' + $font-name + '.eot') format('eot'),
             url($font-url + '/' + $font-name + '.woff') format('woff'),
             url($font-url + '/' + $font-name + '.ttf')  format('truetype'),
             url($font-url + '/' + $font-name + '.svg') format('svg');
    }
}
