

#masthead {
  text-align: center;
  z-index: 100;
}

.site-branding {
  width:100%;
  overflow: auto;
}
.logo {
  width: 160px;
  height: 160px;
  height: auto;
  margin: 0 auto;
  @media only screen and (max-width: 40em) {
    width: 90px;
    height: 90px;
  }
  @media only screen and (min-width: 40.063em) and (max-width: 64em) {
    width: 130px;
    height: 130px;
  }
}
.top-bar {
  background-color: rgba(0, 0, 0, 0);
}
.pre-header {
  width: 100%;
  height: 30px;
  @media only screen and (max-width: 40em) {
    height: 0;
  }
}
.top-bar-section {

}

.top-bar-section ul li {
  background: rgba(0, 0, 0, 0) !important;
  color: #333;
}
.top-bar-section ul li a {
  background-color: rgba(0, 0, 0, 0);
  color: #333;
  font-family: $CarroisSC;
  font-weight: 300;
}
.top-bar-section li:not(.has-form) a:not(.button) {
  background: rgba(0, 0, 0, 0);
  color: #333;
}
#site-navigation {
  background-color: rgba(0, 0, 0, 0);
}
.site-title:before,
.site-title:after {
  content:"  -  ";
}
nav.top-bar:not(.expanded) {
  background: rgba(0, 0, 0, 0);
  text-align: center;
  section.top-bar-section { display: inline-block; }
                           }
.top-bar.expanded .title-area {
  background: rgba(0, 0, 0, 0);
}
.title-area {
  color: #333;
  height:45px;
  background-color: rgba(0, 0, 0, 0);
}
.site-description {
  font-family: $colaborate-thin;
}
.top-bar .toggle-topbar a {
  color: #333;
}
.top-bar .toggle-topbar a span {
  color: black;
}
a.menu-icon span {
color: black;
}

//Post navigation
.blog-post-navigation {
  width: 100%;
  display: inline-block;
  padding:10px;
  color: white;
  font-family: $CarroisSC;
  font-weight: 300;
  font-size: 0.9rem;
}
.blog-post-navigation a {
  color: white;
}




// Sessions nav-next

#sessions-iso-nav {
  font-family: $CarroisSC;
  font-weight: 300;
  font-size: 0.8rem;
  list-style: none;
  margin-bottom:10px;
  width:100%;
  position:relative;
  z-index: 50;
}
#sessions-iso-nav li{
  font-family: $CarroisSC;
  font-weight: 300;
  font-size: 0.8rem;
  float:left;
  margin-right:10px;
  position:relative;
}

#sessions-iso-nav a {
  color: white;
  display:block;
  padding:5px 15px;
  background:black;
  text-decoration: none;
}
#sessions-iso-nav a:hover {
  color: black;
  background: white;
}
#bystyle i {
  vertical-align: bottom;
}

#sessions-iso-nav ul{
    background: rbga(255,255,255,0);
    list-style:none;
    position:absolute;
    left:-9999px;
}

#sessions-iso-nav ul li{
    padding-top:1px;
    float:none;
}

#sessions-iso-nav li:hover ul{
    left:0;
}

#sessions-iso-nav li:hover a{ /* These create persistent hover states, meaning the top-most link stays 'hovered' even when your cursor has moved down the list. */
    background:black;
    color: white;
}

#sessions-iso-nav li:hover ul li a:hover{ /* Here we define the most explicit hover states--what happens when you hover each individual link. */
    background:white;
    color: black;
}



// Footer
#colophon {
  display:block;
  clear: both;
  width: 100%;
  background-image: url("http://ontariostreet.com/wp-content/uploads/2015/12/SKy_LiGHT_for_web.jpg");
  min-height: 600px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
	@media only screen and (min-width: 64.063em) {
    background-size: cover;
  	background-attachment: fixed;
  	background-repeat: no-repeat;
  	background-position: center center;
  }
}
.footer-container {
  margin: 0 auto;
  width: 70%;
  @media only screen and (max-width: 40em) {
    width: 90%;
  }
  @media only screen and (min-width: 40.063em) and (max-width: 64em) {
    width: 80%;
  }
  float: none;
  min-height: 600px;
  color: white;
  padding-top: 120px;
  padding-bottom: 15px;
  z-index: 100;
}

.footer-widget-wrapper {
  width: 90%;
  margin: 0 auto;
  overflow: auto;
  display: block;
  clear: both;
}

.footer-widget {
  min-height: 200px;
  color: white;
  padding-top: 20px;
  text-align: center;
}
.site-info {
  display: block;
  clear: both;
  text-align: center;
  padding-top: 20px;
  font-family: $CarroisSC;
  color: white;
  font-size: 0.8rem;
}


.search-submit {
  background: black;
  border: none;
  color: white;
  padding: 1rem 2rem 1.0625rem;
  font-size: 1rem;
  text-decoration: none;
  text-align: center;
}
.search-submit:hover {
  background: white;
  color: black;
  border: solid black 1px;
}
.footer-widget p {
  color: $footer-text;

}

.footer-widget .search-submit {
  background: white;
  border: none;
  color: black;
  padding: 1rem 2rem 1.0625rem;
  font-size: 1rem;
  text-decoration: none;
  text-align: center;
}
.footer-widget .search-submit:hover {
  background: black;
  color: white;
  border: solid white 2px;
}
.site-footer .widgettitle {
  color: white;
}

//  Pagination navigation
.nav-previous {
  display: inline;
  float: left;
}
.nav-previous::before {
  content: "\21C7    ";
}
.nav-next {
  display: inline;
  float: right;
}
.nav-next::after {
  content: "    \21C9";
}
