// Font Stacks


$CarroisSC        : 'Carrois Gothic SC', 'helvetica Neue', sans-serif;
$colaborate-thin : 'colaborate-thin','Raleway', 'Helvetica Neue', sans-serif;
$colaborate-reg  : 'colaborate-reg', 'Raleway', 'Helvetica Neue', sans-serif;
$colaborate-med  : 'colaborate-med', 'Raleway', 'Helvetica Neue', sans-serif;
$Clear           : 'clear-thin', 'Helvetica Neue', sans-serif;
$crimson         : 'Crimson Text', serif;

$footer-text: #BDBBB8;
$base: #515252;
$link: #E58B5C;
$link-hover: #FFA080;



/*
 * Fonts
 *
 */

$colab-thin       : 'colaborate-thin', 'Helvetica Neue', sans-serif;
$colab-reg        : 'colaborate-reg', 'Helvetica Neue', sans-serif;
$colab-med        : 'colaborate-med', 'Helvetica Neue', sans-serif;
$Carrois          : 'Carrois Gothic SC', 'helvetica Neue', sans-serif;
$Bebas            : 'Bebas Neue', 'helvetica Neue', sans-serif;

/*
 * Colors
 *
 */

 $charcoal         : #323531;
 $graphite         : #3d4242;
 $anthracite       : #4f5559;
 $grey             : #7b858a;
 $greyeen          : #99a3a6;
 $light            : #b2bcc0;
 $xlight           : #cbd1d4;

/*
 * Font colors
 *
 */

$text-base        : $anthracite;
$text-header      : $charcoal;
$link             : #E58B5C;
$link-hover       : #FFA080;

/*
 * Foundation Colors
 *
 */

 $primary         : $anthracite;
 $secondary       : $charcoal;
 $warning         : #E58B5C;
 $alert           : #780700;
 $success         : #99a3a6;
