/*
 * Fonts
 *
 */
/*
 * Colors
 *
 */
/*
 * Font colors
 *
 */
/*
 * Foundation Colors
 *
 */
/*
 * @font-face mixin
 * @include font-face('family', '../fonts/', 'myfontname');
 */
@import url("http://fonts.googleapis.com/css?family=Carrois+Gothic+SC:400");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/css?family=Crimson+Text");
@font-face {
  font-family: "colaborate-thin";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/ColabLig-webfont.eot") format("eot"), url("../fonts/ColabLig-webfont.woff") format("woff"), url("../fonts/ColabLig-webfont.ttf") format("truetype"), url("../fonts/ColabLig-webfont.svg") format("svg"); }
@font-face {
  font-family: "colaborate-reg";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/ColabReg-webfont.eot") format("eot"), url("../fonts/ColabReg-webfont.woff") format("woff"), url("../fonts/ColabReg-webfont.ttf") format("truetype"), url("../fonts/ColabReg-webfont.svg") format("svg"); }
@font-face {
  font-family: "colaborate-med";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/ColabMed-webfont.eot") format("eot"), url("../fonts/ColabMed-webfont.woff") format("woff"), url("../fonts/ColabMed-webfont.ttf") format("truetype"), url("../fonts/ColabMed-webfont.svg") format("svg"); }
@font-face {
  font-family: "clear-thin";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/ClearSans-Light-webfont.eot") format("eot"), url("../fonts/ClearSans-Light-webfont.woff") format("woff"), url("../fonts/ClearSans-Light-webfont.ttf") format("truetype"), url("../fonts/ClearSans-Light-webfont.svg") format("svg"); }
html,
body,
#page {
  width: 100%;
  height: 100%;
  color: #515252; }

html {
  font-family: "colaborate-thin", "Raleway", "Helvetica Neue", sans-serif;
  font-size: 1.1rem;
  color: #515252; }

body {
  font-family: "colaborate-thin", "Raleway", "Helvetica Neue", sans-serif;
  font-size: 100%;
  color: #515252; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Carrois Gothic SC", "helvetica Neue", sans-serif;
  font-weight: 300; }

p {
  font-family: "colaborate-thin", "Raleway", "Helvetica Neue", sans-serif;
  font-size: 1.1rem;
  color: #515252; }
  @media only screen and (max-width: 40em) {
    p {
      font-size: 0.85rem; } }
  @media only screen and (min-width: 40.063em) and (max-width: 64em) {
    p {
      font-size: 1rem; } }

a {
  color: #E58B5C; }

a:hover {
  color: #FFA080; }

h1 {
  font-size: 1.4rem; }
  @media only screen and (max-width: 40em) {
    h1 {
      font-size: 1.2rem; } }
  @media only screen and (min-width: 40.063em) and (max-width: 64em) {
    h1 {
      font-size: 1.3rem; } }

h2 {
  font-size: 1.3rem; }
  @media only screen and (max-width: 40em) {
    h2 {
      font-size: 1.1rem; } }
  @media only screen and (min-width: 40.063em) and (max-width: 64em) {
    h2 {
      font-size: 1.2rem; } }

h3, h4 {
  font-size: 1.2rem; }
  @media only screen and (max-width: 40em) {
    h3, h4 {
      font-size: 1rem; } }
  @media only screen and (min-width: 40.063em) and (max-width: 64em) {
    h3, h4 {
      font-size: 1.1rem; } }

h5, h6 {
  font-size: 1.1rem; }
  @media only screen and (max-width: 40em) {
    h5, h6 {
      font-size: 0.9rem; } }
  @media only screen and (min-width: 40.063em) and (max-width: 64em) {
    h5, h6 {
      font-size: 1rem; } }

#content, .site-content {
  width: 100%;
  height: 100%; }

#main {
  padding-bottom: 30px; }

#primary {
  min-height: 500px; }

li {
  list-style-type: none; }

.screen-reader-text {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px); }

.site-main {
  z-index: 10;
  background: white; }

.row {
  width: 100%;
  max-width: none; }

.error-404 {
  width: 60%;
  margin: 0 auto;
  text-align: center; }

.crystal {
  width: 100%;
  height: 80%;
  z-index: 10;
  overflow: auto; }

article {
  height: inherit; }

.front-sessions {
  width: 90%;
  height: auto;
  overflow: auto;
  margin: 0 auto;
  padding-top: 40px; }

.session-image-front {
  padding-bottom: 30px;
  overflow: hidden; }

.entry-meta-session {
  padding-bottom: 40px;
  font-family: "Carrois Gothic SC", "helvetica Neue", sans-serif;
  font-size: 12px; }

.entry-meta-session ul li {
  font-size: 12px; }

.entry-meta-session i {
  font-size: 16px;
  padding-right: 5px;
  vertical-align: middle; }

.onted-tag {
  font-size: 12px;
  font-family: "Carrois Gothic SC", "helvetica Neue", sans-serif; }

.session-image-back {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 300px; }

.img-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0; }

.img-wrapped {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.entry-image-meta {
  display: block;
  overflow: auto; }

.post-navigation {
  padding-top: 50px;
  padding-bottom: 25px; }

.blog-title {
  text-align: center;
  padding-bottom: 25px; }

.blog-title h1 {
  text-align: center;
  font-family: "Carrois Gothic SC", "helvetica Neue", sans-serif;
  font-size: 1.6rem;
  font-weight: 700; }
  @media only screen and (max-width: 40em) {
    .blog-title h1 {
      font-size: 1.2rem; } }
  @media only screen and (min-width: 40.063em) and (max-width: 64em) {
    .blog-title h1 {
      font-size: 1.4rem; } }

.blog-title a,
.blog-title a:visited {
  color: #333; }

.blog-title a:hover {
  color: #333; }

.front-records {
  width: auto;
  overflow: auto;
  width: 90%;
  margin: 0 auto;
  border-top: 1px solid black;
  padding-top: 30px; }

li .post-meta-key {
  display: none; }

.pad-top {
  padding-top: 50px; }

.pad-bottom {
  padding-bottom: 20px; }

.marg-bottom {
  margin-bottom: 20px; }

.zoom {
  overflow: hidden; }

.zoom img:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s; }

.black-bkg {
  background: black; }

.video-entry-text {
  margin: 0 auto;
  width: 70%;
  text-align: center;
  color: #AAB0A8;
  padding-top: 30px;
  padding-bottom: 10px; }

.tunes-pad {
  margin-bottom: 5px; }

.front-row {
  width: 90%;
  margin: 0 auto;
  overflow: auto;
  height: auto;
  padding-top: 30px;
  padding-bottom: 40px;
  border-bottom: solid black 1px; }

.last-row {
  border-bottom: 0 !important; }

.front-video {
  width: 90%;
  background: black;
  margin: 0 auto;
  overflow: auto;
  height: auto;
  padding-bottom: 20px;
  margin-top: 30px;
  margin-bottom: 30px; }

.tag-icon {
  font-size: 14px;
  color: black; }

.entry-header {
  background: black;
  margin-bottom: 20px; }

.entry-title {
  text-align: right;
  padding-right: 10%;
  color: white;
  margin-bottom: 0 !important;
  padding-top: 20px; }

.entry-title::before {
  content: "_";
  color: white; }

.entry-text {
  min-height: 200px; }

.entry-page-content {
  overflow: auto;
  width: 96%;
  margin: 0 auto;
  padding-bottom: 60px; }

.entry-image {
  height: auto;
  padding-bottom: 25px;
  overflow: auto; }

.entry-image img {
  max-width: none;
  width: 100%; }

#contact-form-submit {
  background: black; }

.map-image {
  height: auto;
  overflow: auto;
  max-width: 100%;
  width: 100%;
  border: solid black 6px; }

.single-content {
  height: inherit; }

.search-none {
  width: 90%;
  min-height: 500px;
  margin: 0 auto;
  padding-top: 60px; }

.article-header {
  background: black; }

.entry-summary {
  padding: 25px; }

.article-thumb {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 350px; }

.posting {
  background-color: black;
  padding-top: 25px;
  width: 90%;
  margin: 0 auto; }

.article-box {
  background: white;
  margin-bottom: 20px; }

.entry-meta,
.entry-footer {
  line-height: 0.8;
  margin-bottom: 0;
  color: black;
  background: white;
  padding-left: 20px;
  font-size: 13px;
  padding-top: 10px; }

.entry-footer span {
  display: block;
  padding: 5px; }

.vcard {
  border: none;
  font-family: "Carrois Gothic SC", "helvetica Neue", sans-serif;
  margin: 0;
  padding: 0; }

.edit-link {
  padding-left: 20px;
  font-size: 14px;
  font-family: "Carrois Gothic SC", "helvetica Neue", sans-serif; }

.comments-link {
  padding-left: 20px;
  font-size: 14px;
  font-family: "Carrois Gothic SC", "helvetica Neue", sans-serif; }

.record-title {
  font-size: 18px;
  text-align: center;
  color: black;
  margin-bottom: 0 !important;
  padding-top: 20px; }

.post-image {
  height: auto;
  display: block;
  border: 0;
  padding: 0; }

.post-image img {
  width: 100% !important; }

.standard-post-content {
  width: 80%;
  margin: 0 auto;
  padding-top: 30px;
  float: none !important; }

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0; }

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.blog-header-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0; }

.blog-header-wrapper header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; }

.blog-text-wrapper {
  position: relative;
  padding-bottom: 52.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0; }

#masonry-container {
  width: 95%;
  margin: 0 auto;
  height: inherit; }

#secondary {
  padding: 20px;
  border-left: solid #DDDDDD 1px; }

.onted-comments {
  width: 90%;
  margin: 0 auto;
  font-size: 0.9rem;
  border-top: solid 1px black;
  padding-top: 25px; }

#submit,
.wpcf7-submit {
  background: black;
  border: none;
  color: white;
  padding: 1rem 2rem 1.0625rem;
  font-size: 1rem;
  text-decoration: none;
  text-align: center; }

#submit:hover,
.wpcf7-submit:hover {
  background: white;
  color: black;
  border: solid black 1px; }

.nav-links {
  padding-bottom: 20px; }

span.comments-link {
  display: none; }

.sessions-gallery {
  padding-top: 60px;
  min-height: 700px; }

.session-item {
  padding-bottom: 25px; }

/* =WordPress Core
-------------------------------------------------------------- */
.alignnone {
  margin: 5px 20px 20px 0; }

.aligncenter,
div.aligncenter {
  display: block;
  margin: 5px auto 5px auto; }

.alignright {
  float: right;
  margin: 5px 0 20px 20px; }

.alignleft {
  float: left;
  margin: 5px 20px 20px 0; }

a img.alignright {
  float: right;
  margin: 5px 0 20px 20px; }

a img.alignnone {
  margin: 5px 20px 20px 0; }

a img.alignleft {
  float: left;
  margin: 5px 20px 20px 0; }

a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.wp-caption {
  background: #fff;
  border: 1px solid #f0f0f0;
  max-width: 96%;
  /* Image does not overflow the content area */
  padding: 5px 3px 10px;
  text-align: center; }

.wp-caption.alignnone {
  margin: 5px 20px 20px 0; }

.wp-caption.alignleft {
  margin: 5px 20px 20px 0; }

.wp-caption.alignright {
  margin: 5px 0 20px 20px; }

.wp-caption img {
  border: 0 none;
  height: auto;
  margin: 0;
  max-width: 98.5%;
  padding: 0;
  width: auto; }

.wp-caption p.wp-caption-text {
  font-size: 11px;
  line-height: 17px;
  margin: 0;
  padding: 0 4px 5px; }

/* Text meant only for screen readers. */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden; }

.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar. */ }

/* Crisopa-portada.  */
/*
.yellow-frame {
  height: 100%;
  width: 50%;
  @media only screen and (max-width: 40em) {
    width: 25%;
  }
  float: right;
  background-color: rgba(64,76,0,0.4);
}

.first-content-wrapper {
  padding-right: 50px;
  padding-top: 45%;
  @media only screen and (max-width: 30em) {
    margin-top:50px;
    padding-top: 45%;
    padding-right: 10px;
  }
  @media only screen and (min-width: 30.063em) and (max-width: 64em) {
    margin-top:100px;
    padding-top: 40%;
    padding-right: 20px;
  }
}


.crisopa-title {
  font-size: 90px;
  @media only screen and (max-width: 30em) {
    font-size: 40px;
  }
  @media only screen and (min-width: 30.063em) and (max-width: 64em) {
    font-size: 60px;
  }
  font-weight: 900;
  font-family: $CarroisSC;
  text-align:right;
  color:  rgba(64,76,0,1);
  line-height: 92%;
}
.crisopa-text {
  font-size: 18px;
  @media only screen and (max-width: 30em) {
    font-size: 14px;
  }
  font-weight: 600;
  font-family: $CarroisSC;
  text-align:right;
  color:  rgba(64,76,0,1);
}
.crisopa-date {
  font-size: 32px;
  @media only screen and (max-width: 30em) {
    font-size: 24px;
  }
  font-weight: 600;
  font-family: $CarroisSC;
  text-align:right;
  color:  rgba(64,76,0,1);
}


28-portada.

.titulo-28 {
  position: fixed;
  top:50px;
  right: 70px;
  font-size:2em;
  color: #797979;
  @media only screen and (max-width: 30em) {
    position: fixed;
    top: 0;
    left: 20px;
    font-size: 1.4em;
  }
}
.titulo-28 a {
  color: #797979;
}
.titulo-28 a:hover {
  color: $link-hover;
}
.session-28 {
  position: fixed;
  bottom: 140px;
  right: 70px;
  font-size: 1.5em;
  color: #797979;
  @media only screen and (max-width: 30em) {
    right: 20px;
    font-size:1em;
  }
}
.session-28 a {
  color: #797979;
}
.session-28 a:hover {
  color: $link-hover;
}
.menu-28{
  position: fixed;
  right: 70px;
  bottom: 70px;
  color: #797979;
  @media only screen and (max-width: 30em) {
    display: none;
  }
}

.menu-28 ul {
  display: table;


}
.menu-28 ul li {
  display: inline-block;
  float: left;
  padding: 0 10px;
  color: #797979;
}

.li-menu-28 {
  color: #797979;
}
.li-menu-28:hover {
  color: $link-hover;
}
.after-28::after {
  content: "|";
  padding-left: 20px;
  @media only screen and (max-width: 30em) {
    content: "";
  }
}

.top-bar-28 {
  display: none;
  color: #797979 !important;
  @media only screen and (max-width: 30em) {
    display: block;
  }
}

.menu-mobile-28 {
  color: #797979 !important;
}


.grey-color {
  color: #797979 !important;
}


.player-28 {
  position: fixed;
  bottom: -70px;
  width: 100%;
}
.player-play {
  width: 100%;
  text-align: center;
  position: relative;
  bottom: 0px;
  font-size: 32px;
}

.player-play:hover {
  color: $link-hover !important;
}
.play-text {
  width: 100%;
  text-align: center;
  position: relative;
  bottom: 5px;
  color: #797979;
  font-size: 32px;
}

.play-text:hover {
  color: $link-hover;
}
*/
.screen {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("http://ontariostreet.com/wp-content/uploads/2017/03/00_032_web.jpg"); }
  @media only screen and (max-width: 40em) {
    .screen {
      background-image: url("http://ontariostreet.com/wp-content/uploads/2017/03/00_032_web_peq.jpg"); } }

.title-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-content: flex-end;
  height: 20vh;
  padding-left: 300px; }
  @media only screen and (max-width: 30em) {
    .title-box {
      padding-left: 40px;
      height: 20vh; } }
  @media only screen and (min-width: 30.063em) and (max-width: 64em) {
    .title-box {
      padding-left: 200px; } }

.crimson-title {
  font-size: 20px;
  font-family: "Crimson Text", serif;
  font-weight: 700;
  margin-bottom: 20px;
  color: black; }
  @media only screen and (max-width: 30em) {
    .crimson-title {
      font-size: 14px; } }
  @media only screen and (min-width: 30.063em) and (max-width: 64em) {
    .crimson-title {
      font-size: 16px; } }

a.link-ssn-30,
.link-ssn-30 {
  color: black; }

.link-ssn-30:hover {
  color: #E58B5C; }

.front-menu-wrap ul {
  margin: 0;
  padding: 0; }

#gua-hamburger {
  position: fixed;
  right: 30px;
  top: 45px;
  color: #C9C7C7;
  background-color: #353535;
  border-radius: 20px;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  z-index: 100; }

#gua-hamburger:hover {
  background-color: #C9C7C7;
  color: black; }

.gua-men {
  position: fixed;
  height: 25px;
  width: 100px;
  line-height: 25px;
  text-align: center;
  background-color: #353535;
  color: #C9C7C7;
  font-family: "Carrois Gothic SC", "helvetica Neue", sans-serif;
  font-size: 14px; }

.gua-men:hover {
  background-color: #C9C7C7;
  color: black; }

#gua-menu5 {
  display: none;
  top: 255px;
  right: 25px;
  z-index: 100; }

#gua-menu4 {
  display: none;
  top: 215px;
  right: 25px;
  z-index: 100; }

#gua-menu3 {
  display: none;
  top: 175px;
  right: 25px;
  z-index: 100; }

#gua-menu2 {
  display: none;
  top: 135px;
  right: 25px;
  z-index: 100; }

#gua-menu1 {
  display: none;
  top: 95px;
  right: 25px;
  z-index: 100; }

#gua-menu {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 1000px;
  opacity: 0.6;
  background-color: black;
  z-index: 50; }

li {
  list-style: none; }

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga'; }

iframe {
  padding: 0;
  margin: 0;
  background-color: #C9C7C7; }

.player-28 {
  position: fixed;
  bottom: -70px;
  width: 100%; }

.player-play {
  width: 100%;
  text-align: center;
  position: relative;
  bottom: 0;
  font-size: 52px;
  color: black; }
  @media only screen and (max-width: 30em) {
    .player-play {
      font-size: 32px; } }
  @media only screen and (min-width: 30.063em) and (max-width: 64em) {
    .player-play {
      font-size: 42px; } }

.player-play:hover {
  color: #FFA080 !important; }

.play-text {
  width: 100%;
  text-align: center;
  position: relative;
  bottom: 5px;
  font-size: 32px;
  color: white; }

.play-text:hover {
  color: #FFA080; }

/* Start: Recommended Isotope styles */
/**** Isotope Filtering ****/
.isotope-item {
  z-index: 2; }

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1; }

/**** Isotope CSS3 transitions ****/
.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  -ms-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  transition-duration: 0.8s; }

.isotope {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  -ms-transition-property: height, width;
  -o-transition-property: height, width;
  transition-property: height, width; }

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  -ms-transition-property: -ms-transform, opacity;
  -o-transition-property: -o-transform, opacity;
  transition-property: transform, opacity; }

/**** disabling Isotope CSS3 transitions ****/
.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
  -ms-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s; }

/* End: Recommended Isotope styles */
#masthead {
  text-align: center;
  z-index: 100; }

.site-branding {
  width: 100%;
  overflow: auto; }

.logo {
  width: 160px;
  height: 160px;
  height: auto;
  margin: 0 auto; }
  @media only screen and (max-width: 40em) {
    .logo {
      width: 90px;
      height: 90px; } }
  @media only screen and (min-width: 40.063em) and (max-width: 64em) {
    .logo {
      width: 130px;
      height: 130px; } }

.top-bar {
  background-color: transparent; }

.pre-header {
  width: 100%;
  height: 30px; }
  @media only screen and (max-width: 40em) {
    .pre-header {
      height: 0; } }

.top-bar-section ul li {
  background: transparent !important;
  color: #333; }

.top-bar-section ul li a {
  background-color: transparent;
  color: #333;
  font-family: "Carrois Gothic SC", "helvetica Neue", sans-serif;
  font-weight: 300; }

.top-bar-section li:not(.has-form) a:not(.button) {
  background: transparent;
  color: #333; }

#site-navigation {
  background-color: transparent; }

.site-title:before,
.site-title:after {
  content: "  -  "; }

nav.top-bar:not(.expanded) {
  background: transparent;
  text-align: center; }
  nav.top-bar:not(.expanded) section.top-bar-section {
    display: inline-block; }

.top-bar.expanded .title-area {
  background: transparent; }

.title-area {
  color: #333;
  height: 45px;
  background-color: transparent; }

.site-description {
  font-family: "colaborate-thin", "Raleway", "Helvetica Neue", sans-serif; }

.top-bar .toggle-topbar a {
  color: #333; }

.top-bar .toggle-topbar a span {
  color: black; }

a.menu-icon span {
  color: black; }

.blog-post-navigation {
  width: 100%;
  display: inline-block;
  padding: 10px;
  color: white;
  font-family: "Carrois Gothic SC", "helvetica Neue", sans-serif;
  font-weight: 300;
  font-size: 0.9rem; }

.blog-post-navigation a {
  color: white; }

#sessions-iso-nav {
  font-family: "Carrois Gothic SC", "helvetica Neue", sans-serif;
  font-weight: 300;
  font-size: 0.8rem;
  list-style: none;
  margin-bottom: 10px;
  width: 100%;
  position: relative;
  z-index: 50; }

#sessions-iso-nav li {
  font-family: "Carrois Gothic SC", "helvetica Neue", sans-serif;
  font-weight: 300;
  font-size: 0.8rem;
  float: left;
  margin-right: 10px;
  position: relative; }

#sessions-iso-nav a {
  color: white;
  display: block;
  padding: 5px 15px;
  background: black;
  text-decoration: none; }

#sessions-iso-nav a:hover {
  color: black;
  background: white; }

#bystyle i {
  vertical-align: bottom; }

#sessions-iso-nav ul {
  background: rbga(255, 255, 255, 0);
  list-style: none;
  position: absolute;
  left: -9999px; }

#sessions-iso-nav ul li {
  padding-top: 1px;
  float: none; }

#sessions-iso-nav li:hover ul {
  left: 0; }

#sessions-iso-nav li:hover a {
  /* These create persistent hover states, meaning the top-most link stays 'hovered' even when your cursor has moved down the list. */
  background: black;
  color: white; }

#sessions-iso-nav li:hover ul li a:hover {
  /* Here we define the most explicit hover states--what happens when you hover each individual link. */
  background: white;
  color: black; }

#colophon {
  display: block;
  clear: both;
  width: 100%;
  background-image: url("http://ontariostreet.com/wp-content/uploads/2015/12/SKy_LiGHT_for_web.jpg");
  min-height: 600px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }
  @media only screen and (min-width: 64.063em) {
    #colophon {
      background-size: cover;
      background-attachment: fixed;
      background-repeat: no-repeat;
      background-position: center center; } }

.footer-container {
  margin: 0 auto;
  width: 70%;
  float: none;
  min-height: 600px;
  color: white;
  padding-top: 120px;
  padding-bottom: 15px;
  z-index: 100; }
  @media only screen and (max-width: 40em) {
    .footer-container {
      width: 90%; } }
  @media only screen and (min-width: 40.063em) and (max-width: 64em) {
    .footer-container {
      width: 80%; } }

.footer-widget-wrapper {
  width: 90%;
  margin: 0 auto;
  overflow: auto;
  display: block;
  clear: both; }

.footer-widget {
  min-height: 200px;
  color: white;
  padding-top: 20px;
  text-align: center; }

.site-info {
  display: block;
  clear: both;
  text-align: center;
  padding-top: 20px;
  font-family: "Carrois Gothic SC", "helvetica Neue", sans-serif;
  color: white;
  font-size: 0.8rem; }

.search-submit {
  background: black;
  border: none;
  color: white;
  padding: 1rem 2rem 1.0625rem;
  font-size: 1rem;
  text-decoration: none;
  text-align: center; }

.search-submit:hover {
  background: white;
  color: black;
  border: solid black 1px; }

.footer-widget p {
  color: #BDBBB8; }

.footer-widget .search-submit {
  background: white;
  border: none;
  color: black;
  padding: 1rem 2rem 1.0625rem;
  font-size: 1rem;
  text-decoration: none;
  text-align: center; }

.footer-widget .search-submit:hover {
  background: black;
  color: white;
  border: solid white 2px; }

.site-footer .widgettitle {
  color: white; }

.nav-previous {
  display: inline;
  float: left; }

.nav-previous::before {
  content: "\21C7    "; }

.nav-next {
  display: inline;
  float: right; }

.nav-next::after {
  content: "    \21C9"; }

/*# sourceMappingURL=app.css.map */
